@import "variables";

header {
    background-color: $blue-text;
    border-bottom: 0.125em solid $bcgov-yellow;
    padding: 0 1.875em 0 1.875em;
    color: #fff;
    display: flex;
    height: 4.063em;
    top: 0;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 0.375em 0.500em -0.250em #b3b1b3;
    -moz-box-shadow: 0 0.375em 0.500em -0.250em #b3b1b3;
    box-shadow: 0 0.375em 0.500em -0.250em #b3b1b3;
    z-index: 999;
    h1 {
        font-family: ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        margin: 0.313em 0.313em 0 1.125em;
    }
    .banner {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0.625em 0 0;
    }
    .other {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
    img {
        max-width: 100%;
        margin: 0 0 1.25rem 0;
        padding: 0 0 0 0;
        border-style: none;
    }
    .logo-banner {
        margin-bottom: 0;
        width: 10.938em;
    }
    a {
        [class^="fas fa-"] {
            color: white;
            font-size: 1.4em;
            font-style: bold;
            line-height: 1;
            padding: 0.313em;
            -webkit-font-smoothing: antialiased;
        }
    }
    .nav-btn {
        display: block;
        width: auto;
        margin: 0 0 0 auto;
        cursor: pointer;
    }
}
