@import "variables";

@font-face {
    font-family: 'BCSans';
    font-style: normal;
    src: url('/assets/fonts/BCSans/BCSans-Regular.woff2') format('woff2'), url('/assets/fonts/BCSans/BCSans-Regular.woff') format('woff');
}
@font-face {
    font-family: 'BCSans';
    font-style: italic;
    src: url('/assets/fonts/BCSans/BCSans-Italic.woff2') format('woff2'), url('/assets/fonts/BCSans/BCSans-Italic.woff') format('woff');
}
@font-face {
    font-family: 'BCSans';
    font-weight: 700;
    src: url('/assets/fonts/BCSans/BCSans-Bold.woff2') format('woff2'), url('/assets/fonts/BCSans/BCSans-Bold.woff') format('woff');
}
@font-face {
    font-family: 'BCSans';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/BCSans/BCSans-BoldItalic.woff2') format('woff2'), url('/assets/fonts/BCSans/BCSans-BoldItalic.woff') format('woff');
}

/* Bootstrap Overrides */
.btn {
  font-weight: bold;
  padding: .3em 2em;
  color: white !important;
  &.btn-primary {
    background-color: $blue-text;
    border-color: $blue-text;
    &:hover {
      background-color: $button-hover;
    }
  }
}

/* Styles for all pages */
body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, ‘BCSans’, ‘Noto Sans’, Verdana, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    line-height: 1.25;
    color: $body-text;
}
p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 2.250em;
    color: $body-text;
}
a .btn-primary i {
    color: #fff;
}
.btn-link:hover {
    text-decoration: none;
}
.btn-link:focus {
    text-decoration: none;
}
.content {
    /* margin-top: 6.56em; this is the height when navigation bar is included*/
    margin-top: 6.56em;
    margin-bottom: 6em;
    z-index: 99;
}
.title-text {
  color: $blue-text;
}
