@import "variables";

.navigation-main {
    display: block;
    position: fixed;
    top: 4.063em;
    color: #fcba19;
    background-color: #38598a;
    width: 100%;
    -webkit-box-shadow: 0 0.375em 0.500em -0.250em #b3b1b3;
    -moz-box-shadow: 0 0.375em 0.500em -0.250em #b3b1b3;
    box-shadow: 0 0.375em 0.500em -0.250em #b3b1b3;
    z-index: 999;
    .container {
        padding: 0;
        ul {
            display: flex;
            flex-direction: row;
            margin: 0;
            color: #fff;
            list-style: none;
            margin-left: -1.563em;
            li {
                padding: 0.85em 0;
                margin: 0;
                a {
                    display: flex;
                    font-size: 1rem;
                    font-weight: normal;
                    color: #fff;
                    padding: 0 0.938em 0 0.938em;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                    &::after {
                      margin-top: 8px;
                    }
                }
                &.active {
                  border-bottom: 2px solid $bcgov-yellow;
                  background-color: $nav-active-bg;
                }
            }
            .dropdown-menu {
              padding-top: 0;
              padding-bottom: 0;
              margin-top: 15px;
              margin-left: 10px;
              a {
                padding-top: 1rem;
                padding-bottom: 1rem;
                color: $blue-text-light;
                text-decoration: none;
                &:hover {
                  background-color: $grey-bg;
                  text-decoration: underline;
                }
              }
            }
        }
    }
}
