@import "variables";

/* Icons */
.icon-list {
  text-align: center;
  padding-left: 3.1rem;
  padding-right: 3.1rem;
  p {
    margin-top: 2rem;
    color: $blue-text;
  }
}

/* Bootstrap Carousel */
.carousel {
  background-image: linear-gradient(130deg, rgba(255, 255, 255, 0.5) 16%, #e8e8e8 91%), linear-gradient(77deg, #ffffff -32%, #e2e2e2 129%);
  .carousel-card-text {
    padding-top: 100px;
    padding-left: 100px;
  }
  .carousel-card-header {
    font-weight: bold;
    color: $blue-text;
  }
  p {
    color: $blue-text;
  }
  ul {
    list-style: none;
    color: $blue-text;
    padding-left: 0;
    li {
      line-height: 2;
    }
  }
  .carousel-control-prev {
    justify-content: flex-start;
    padding-left: 10px;
    .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
  }
  .carousel-control-next {
    justify-content: flex-end;
    padding-right: 10px;
    .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
  }
  .carousel-indicators > li {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: solid 2px #c8c8c8;
    background-color: #ffffff;
  }
}

/* Checkerboard layout */
.checkerboard {
  .check-title {
    font-size: 3rem;
  }
  .check-content {
    padding: 2.5rem;
    ul {
      margin-bottom: 0;
      li {
        margin-bottom: 1rem;
      }
    }
  }
  .row:nth-child(odd) {
    .check-title {
      background: $blue-text;
      color: white;
    }
    .check-content {
      background: $grey-bg;
      color: $blue-text;
    }
  }
  .row:nth-child(even) {
    .check-title {
      background: $grey-bg;
      color: $blue-text;
    }
    .check-content {
      background: $blue-text;
      color: white;
      p {
        color: white;
        padding-left: 1.3rem;
      }
    }
  }
}

/* List of clickable cards */
.service-card-list {
  .card {
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 2rem;
    border: solid 1px #e2e2e2;
  }
  .card-title {
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }
  .linked-card {
    .card {
      color: $body-text;
      i {
        color: $blue-text-light;
      }
    }
    &:hover {
      color: $body-text;
      text-decoration: none;
      .card {
        box-shadow: 10px 10px 39px 0px rgba(158,150,158,1);
        i {
          color: $icon-hover;
        }
      }
    }
    &:active {
      .card {
        box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .service-onboard {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    li {
      margin-right: 2rem;
      float: left;
    }
  }
}
