$blue-text: #003366;
$blue-text-light: #1a5a96;
$icon-hover: #308BE1;
$body-text: #494949;

$grey-bg: #f2f2f2;
$nav-active-bg: #497fac;

$card-border: #dedede;
$button-hover: #43698e;
$bcgov-yellow: #fcba19;
