---
layout: default
---
<div class="page-header">
  <h2 class="text-center">
    {% if page.pictures.icon  %}
    <img class="img-fluid mr-3 mascot" src="{{ site.baseurl }}/assets/images/{{ page.pictures.icon }}" alt="mascot">
    {% endif %}
    {{ page.title }} ({{ page.name }})
  </h2>
  <div class="page-description">
    <div class="container page-description-content">
      <div class="text-center">
        {% if page.pictures.header %}
        <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/{{ page.pictures.header }}" alt="service">
        {% endif %}
      </div> <br>
      {{ page.description }}
    </div>
  </div>
</div>

<div class="container">
  <h4><strong>Onboarding Options</strong></h4>
  {% if page.onboard and page.onboard != empty  %}
  <p>{{ page.onboardDescription }}</p>
  {% else %}
  Not Applicable
  {% endif %}

  {% if page.onboard contains "API Access" %}
  <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/key.svg" alt="components"> <strong>API Access
      through GETOK</strong></h5>
  <div class="feature-card">
    <div class="card">
      <div class="card-header">
        {{ page.title }} ({{ page.name }})
      </div>
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-sm-3">API Capability</div>
          <div class="col-sm-9">{{ content }}</div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">API Review</div>
          <div class="col-sm-9">
            {% if page.urls.docs or page.urls.postman %}
            {% if page.urls.docs %}
            <a href="{{ page.urls.docs }}" target="_blank">Specification
              <i class="fas fa-external-link-square-alt"></i>
            </a>
            {% endif %}
            {% if page.urls.postman %}
            <br /> <br />
            <a href="{{ page.urls.postman }}" target="_blank" download>Postman Collection
              <i class="fas fa-download"></i>
            </a>
            {% endif %}
            {% if page.urls.postmanHelp %}
            <br /> <br />
            <a href="{{ page.urls.postmanHelp }}" target="_blank" download>Postman Collection Help
              <i class="fas fa-download"></i>
            </a>
            {% endif %}
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">GitHub</div>
          <div class="col-sm-9">
            {% if page.urls.docs %}
            <a href="{{ page.urls.github }}" target="_blank">Repository
              <i class="fas fa-external-link-square-alt"></i>
            </a>
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-sm-3">See in Action</div>
          <div class="col-sm-9">
            {% if page.urls.showcase %}
            <a href="{{ page.urls.showcase }}" target="_blank">Showcase App
              <i class="fas fa-external-link-square-alt"></i>
            </a>
            <hr>
            {{ page.showcaseDescription }}
            {% else %}
            Not Applicable
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% include common/getokBtn.html %}
  </div>
  {% endif %}

  {% if page.onboard contains "DockerHub" %}
  <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/Docker.svg" alt="Docker"> <strong>DockerHub
      @bcgovimage</strong></h5>
  {% include common/dockerTable.html param=page %}
  {% endif %}

  {% if page.onboard contains "NPM" %}
  <h5> <img class="img-fluid mr-3" src="{{ site.baseurl }}/assets/images/npm.svg" alt="npm"> <strong>NPM
      @bcgovimage</strong></h5>
  {% include common/npmTable.html param=page %}
  {% endif %}
</div>
